<mat-toolbar color="primary">
    <span class="title">DMS</span>
    <a [routerLink]="['/dms']" *ngIf="logoutVissible()">
        <button mat-flat-button color="primary">Documents</button>
    </a>
    <a [routerLink]="['/administration/users']" *ngIf="logoutVissible() && isAdminRole()">
        <button mat-flat-button color="primary">Administration</button>
    </a>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
        (click)="onFavClick()">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="onClick()">
        <mat-icon>share</mat-icon>
    </button>
    <div class="notifications" *ngIf="logoutVissible()">
        <button mat-icon-button [matMenuTriggerFor]="beforeNotifications" class="example-icon"
            aria-label="Notifications">
            <mat-icon>notifications</mat-icon>
        </button>
        <div *ngIf="getUnreadCount() > 0" class="notification-counter">{{getUnreadCount()}}</div>
    </div>
    <mat-menu #beforeNotifications="matMenu" xPosition="before">
        <button *ngIf="notifications.length === 0" mat-menu-item>No notifications.</button>
        <div *ngFor="let notification of notifications; let i = index" class="row">
            <span class="date" (click)="$event.stopPropagation()">{{(getLocaleDate(notification.creation_date))}}</span>
            <button mat-menu-item (click)="onNotificationClick(notification.link_to)">{{notification.message}}</button>
            <button mat-icon-button [ngStyle]="{'color': notification.seen ? 'gray' : 'red'}"
                (click)="markAsRead($event, notification)">
                <mat-icon>adjust</mat-icon>
            </button>
        </div>
        <button *ngIf="notifications.length > 0" mat-menu-item class="clear-all" (click)="clearAll()">Clear all</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="beforeMenu" *ngIf="logoutVissible()">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
        <p class="name">{{ firstName }} {{ lastName }}</p>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onLogoutClick()">
            <mat-icon>logout</mat-icon> Logout
        </button>
    </mat-menu>
</mat-toolbar>