<h1 mat-dialog-title>Versions</h1>
<div mat-dialog-content class="content">
  <mat-spinner *ngIf="isLoading" class="spinner-default"></mat-spinner>
  <div class="tree" *ngIf="!isLoading">
    <ng-container *ngFor="let row of versionMatrix; let i=index">
      <tr>
        <ng-container *ngFor="let version of row; let j=index">
          <td>
            <div *ngIf="version" class="version-box tree-node-box" (click)="pickVersion(version)"
              [ngClass]="{'selected': version.id === selected?.id}">
              <span class="version-number">{{version.version}}</span>
              <div *ngIf="i > 0 && versionMatrix[i-1][j]" class="vertical-connection"></div>
              <div class="horizontal-connection"
                [ngStyle]="{'width.px': getHorizontalGapSize(version, i, j), 'left.px': -1*getHorizontalGapSize(version, i, j)}">
              </div>
            </div>
          </td>
        </ng-container>
      </tr>
    </ng-container>
  </div>
  <div class="selected-box" *ngIf="selected">
    <h2 class="version-title">(Version: {{selected.version}}) {{selected.object_name}}</h2>
    <div *ngFor="let property of properties" class="prop-row">
      <p class="prop">{{property.name}}:</p>
      <p class="value">{{property.value}}</p>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onCancel()">Cancel</button>
  <button mat-stroked-button (click)="onVersion()" *ngIf="!this.selected?.immutable">New Version</button>
  <button mat-stroked-button color="accent" (click)="createBranch()" *ngIf="!selected?.branched">Create branch</button>
  <label *ngIf="!isLoading && !selected?.immutable && !selected?.content" class="upload">
    <mat-icon matTooltip="Upload file">backup</mat-icon>
    <input type="file" (change)="onChange($event)" style="display: none;">
  </label>
  <a *ngIf="selected?.content" (click)="onDownload()" class="download">
    <mat-icon color="primary" matTooltip="Download file">cloud_download</mat-icon>
  </a>
  <button mat-raised-button color="warn" (click)="onDelete()" *ngIf="!selected?.branched && !selected?.immutable" class="delete-button">Delete Node</button>
</div>