<mat-card class="top-card">
    <div class="search">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Search" [formControl]="search" (keydown)="triggerCall($event)" />
        </mat-form-field>
        <button mat-flat-button color="primary" class="go-button" (click)="doSearch()">Go</button>
    </div>
    <mat-form-field appearance="outline" class="url">
        <input matInput placeholder="Url" [formControl]="url" (keydown)="triggerCall($event)" />
    </mat-form-field>
</mat-card>
<mat-card class="full-height">
    <mat-spinner *ngIf="loading" class="centered-default"></mat-spinner>
    <pre [innerHtml]="syntaxHighlight(response)"></pre>
</mat-card>