h3 {
  margin: auto 0 auto 5px;
  display: inline;
}

.inline-span {
  display: flex;
  align-items: center;
}
mat-icon {
  margin: auto;
}

.more-icon {
  font-size: 20px;
}

.placeholder {
  margin-left: 10px;
  width: 40px;
}
