.upload,
.download {
    display: flex;
    align-items: flex-start;
}

mat-icon,
mat-spinner {
    margin-right: 10px;
}

.container {
    display: flex;
    align-items: center;
    vertical-align: middle;
}
