.mat-spinner {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50px, -50px);
}

.mat-dialog-content {
  min-height: 360px;
  position: relative;
}

.mat-error {
  margin-top: 10px;
}
