/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.normalSelect {
    margin-top: 30px !important;
}

mat-form-field.mat-form-field {
    width: 250px;
}

.mat-success-msg {
    color: #fff !important;
    background-color: rgb(76, 175, 80) !important;
    text-align: center;
    font-size: 1.2rem;
}

.mat-error-msg {
    color: #fff !important;
    background-color: #f44336 !important;
    text-align: center;
    font-size: 1.2rem;
}

.mat-info-msg {
    color: #fff !important;
    background-color: rgb(93, 128, 224) !important;
    text-align: center;
    font-size: 1.2rem;
}

mat-progress-bar .mat-progress-bar-buffer {
    background: darkgray !important;
}
mat-progress-bar .mat-progress-bar-fill::after {
    background-color: white !important;
}

.spinner-default {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
}

.centered-default {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selected-menu-item-background {
    background-color: rgba(63, 81, 181, 0.15);
}

.selected-menu-item-hover:hover {
    cursor: pointer;
    background-color: #e7e7e799;
}

.selected-menu-item-text {
    font-weight: 500 !important;
    color: rgb(63, 81, 181) !important;
}

/* json pretty stiles */
.string {
    color: olive;
}
.number {
    color: navy;
}
.boolean {
    color: navy;
}
.null {
    color: navy;
}
.key {
    color: brown;
}

.primary-color {
    color: var(--primary-color);
}

.accent-color {
    color: var(--accent-color);
}

:root {
    --primary-color: #3f51b5;
    --accent-color: #ff4081; 
}