<div fxLayout="column" fxLayoutAlign="space-between none" class="container">
  <div class="tree-container">
    <h2>Folders:</h2>
    <mat-divider></mat-divider>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="mat-tree-node-custom" matTreeNodePadding
        matTreeNodePaddingIndent="20" (mouseenter)="onHoverIn(node)">
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>
        <app-folder-tree-item [path]="node.name" [expanded]="treeControl.isExpanded(node)" [empty]="node.empty"
          [node]="node">
        </app-folder-tree-item>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding class="mat-tree-node-custom"
        matTreeNodePadding matTreeNodePaddingIndent="20" #node (mouseenter)="onHoverIn(node)">
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <app-folder-tree-item [path]="node.name" [expanded]="treeControl.isExpanded(node)" [empty]="node.empty"
          [node]="node">
        </app-folder-tree-item>
      </mat-tree-node>
    </mat-tree>
  </div>
  <div>
    <h2>Options:</h2>
    <mat-divider></mat-divider>
    <div>
      <h4>Add folder:</h4>
      <form fxLayout="row" fxLayoutAlign="none center" [formGroup]="newFolderForm">
        <mat-form-field appearance="standard">
          <input matInput placeholder="Folder name" formControlName="path">
        </mat-form-field>
        <mat-icon *ngIf="newFolderForm.valid" (click)="addFolderClick()">add</mat-icon>
      </form>
      <mat-error *ngIf="newFolderForm.get('path')?.errors && newFolderForm.get('path')?.touched">
        {{getErrorMessage("path")}}</mat-error>
    </div>
  </div>
</div>